@charset "UTF-8";
.Feu {
  background-color: #D62828;
}

.Eau {
  background-color: #0077B6;
}

.Électrik {
  background-color: #FFD60A;
}

.Plante {
  background-color: #2B9348;
}

.Glace {
  background-color: #A0E9FF;
}

.Combat {
  background-color: #9D0208;
}

.Poison {
  background-color: #6A0DAD;
}

.Sol {
  background-color: #A47148;
}

.Vol {
  background-color: #89CFF0;
}

.Psy {
  background-color: #FF4D6D;
}

.Insecte {
  background-color: #8AB332;
}

.Roche {
  background-color: #8D8D8D;
}

.Spectre {
  background-color: #4B0082;
}

.Dragon {
  background-color: #6F00FF;
}

.Ténèbres {
  background-color: #2E2E2E;
}

.Acier {
  background-color: #A8B2B2;
}

.Fée {
  background-color: #FFB7D5;
}

.Normal {
  background-color: #B8B8A8;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

#pokedex {
  padding: 2rem;
}

#listePokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 1.5rem;
}

.pokeCarte_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 0.5rem;
}
.pokeCarte_head h4 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 0;
}
.pokeCarte_head .pokeCarte_id {
  font-weight: 600;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}

.pokeCarte_footer {
  background-color: rgba(255, 255, 255, 0.377);
  width: 100%;
}
.pokeCarte_footer p:nth-child(1) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.pokeCarte_footer p {
  margin: 0;
}
.pokeCarte_footer img {
  width: 24px;
  height: 24px;
}

.pokeCarte {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.pokeCarte:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.pokeCarte:hover .pokeCarte_body {
  backdrop-filter: brightness(0.5);
}
.pokeCarte .pokeCarte_body {
  background-color: rgba(99, 99, 99, 0.42);
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 10px;
  transition: backdrop-filter 0.3s ease;
}
.pokeCarte .pokeCarte_body img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.pokeCarte h2 {
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.liste_type li {
  cursor: pointer;
  padding: 3px;
}
.liste_type li:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#recherche {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}

.bar input {
  transition: box-shadow 0.2s ease;
}
.bar input:focus {
  box-shadow: inset 0px 0px 0px 4px red !important;
}

#poke_stat {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(232, 252, 214, 0.8);
}
#poke_stat .carte_stats {
  box-sizing: border-box;
  background-color: rgba(240, 240, 240, 0.85);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  width: 100%;
}
#poke_stat .carte_stats .stats {
  flex-grow: 1;
  padding: 2rem;
  padding-background-color: rgba(245, 248, 255, 0.7);
}
#poke_stat .carte_stats .nom {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 250, 240, 0.8);
  padding: 1rem;
}
#poke_stat .image {
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
